/*Matthew 5:20 For I tell you that unless your righteousness surpasses that of the Pharisees and the teachers of the law, you will certainly not enter the kingdom of heaven.*/
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    padding: 0 2px;
    text-align: center;
}


#tooltip {
    width: fit-content;
    height: fit-content;
    background-color: gray;
    padding: 15px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position:absolute;

}

@media (max-width: 768px) {
    #y-axis .tick {
        font-size: 0.55rem;
    }
    #x-axis .tick {
        font-size: 0.5rem;
    }
}

@media (max-width: 400px) {
    #x-axis .tick {
        font-size: 0.45rem;
    }
}